.vscode/**
.vscode-test/**
out/tests/**.js
out/tests/**.js.map
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
ahkdbg/*.bak
*.vsix
ahkdbg
testdata
images